@import url("styles.css");

/*
Generics
*/

.pwr-section-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

/* -------------- */

.pwr-header{
    max-width: 100%;
    width: 100vw;
    height: 58px;
    display: flex;
    padding: 17px calc(2vw 40px);
    justify-content: center;
    align-items: center;
    background-color:var(--pwr-color-bg-primary);
}
.pwr-social-midia{
    width: 50px;
    height: 24px;
}
.pwr-social-midia img{
    width: 20px;
    height: 20px;
}
.pwr-navbar-menu-txt{
    display: none;
}
.pwr-navbar-menu-txt h3{
    color: var(--pwr-color-font-primary);
    font-size: calc(10px + 10%);
    font-weight: 400;
}
.pwr-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media (min-width: 576px) {
    .pwr-header{
        max-width: 100%;
    }
    .pwr-navbar-menu-img{
        display: none;
    }        
    .pwr-navbar-menu-txt{
        display: flex;
        gap: calc(4px + 1vw);
    }
}

@media (min-width: 1024px) {
    .pwr-navbar-logo{
        height: calc(8vh + 10px);
    }

    .pwr-header{
        height: calc(40px + 8vh);
    }
    .pwr-navbar-menu-txt h3{
        font-size: calc(16px + 20%);
    }

    .pwr-social-midia{
        width: calc(100px + 2vw);
        height: 100%;
    }
    .pwr-social-midia img{
        width: calc(20px + 2vh);
        height: calc(20px + 2vh);
    }
}

/*    --------------------------------------  */

.pwr-title-top-container{
    max-width: 100vw;
}
.pwr-top-container-img{
    display: none;
}

.pwr-body-backgroud{
    background-color:var(--pwr-color-bg-primary);
    background-image: url(/html-models/images/section-one-backgroud.png);
    background-repeat: no-repeat;
}

#intro-section{
    max-width: calc(92vw + 7px);
    width: 100vw;
    max-height: 380px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.pwr-title{
    margin-top: 40px;
    color: var(--pwr-color-font-primary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
}


.pwr-title h1{
    font-size: 16px;
    font-weight: 700;
}
.pwr-top-subtitle{
    display: flex;
    flex-direction: row;
    width: 280px;
}
.pwr-top-subtitle p{
    color: var(--pwr-color-font-primary);
    margin-top: 57px;
    text-align: justify;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    width: 170px;
}
.pwr-top-subtitle img{
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 32px;
    height: 110px;
    width: 60px;
}
.pwr-title-button{
    height: 25px;
    width: 105px;
    background-color: var(--pwr-color-btn-primary);
    color: var(--pwr-color-font-secondary);
    margin-top: 55px;
    margin-left: 87px;
    padding: 8px 21px 7px 20px;
    justify-content: center;
    border-radius: 40px;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

@media (min-width: 576px) {

    #intro-section{
        max-width: calc(96vw + 3px);
        padding-left: 40px;   
        height: 80vh;
        max-height: 320px;
    }

    .pwr-body-backgroud{
        background-image: url(/html-models/images/section-one-backgroud-576.png);
        background-repeat: no-repeat;
        background-position: 100%;
        background-position-y: 100%;
        background-repeat: no-repeat;
        height: 120vh;
    }

    .pwr-title-top-container{
        display: flex;
        flex-direction: row;
    }

    .pwr-top-container-img{
        display: block;
    }
    .pwr-top-container-img img{
        width: 98px;
        height: 180px;
        margin-top: 40px;
        margin-left: 40px;
    }
    .pwr-title h1{
        font-size: 22px;
    }
    .pwr-title h1:nth-child(2){
        text-transform: lowercase;
    }
    .pwr-title h1:nth-child(3){
        font-size: 22px;
    }
    .pwr-top-subtitle p{
        width: 258px;
        margin-top: 12px;
    }
    .pwr-title-button{
        margin-left: 271px;
    }

    .pwr-top-subtitle img{
        display: none;
    }
}

@media (min-width: 990px) {
    #intro-section{
        max-width: calc(99vw - 4px);
    }
}

@media (min-width: 1024px) {  

    #intro-section{
        padding: calc(20px + 4vh) 80px;
        max-width: 99vw;
        width: 100%;
        height: 99vh;
        max-height: 640px;
    }

    .pwr-top-container-img img{
        min-width: 287px;
        max-width: 100%;
        height: 482px;
        margin-top: 40px;
        margin-left: calc(40px + 8%);
    } 
    .pwr-title h1{
        font-size: 42px;
    }
    .pwr-title h1:nth-child(3){
        font-size: 42px;
    }
    .pwr-top-subtitle{
        width: 710px;
        margin-top: 59px;
    }
    .pwr-top-subtitle p{
        width: 710px;
        font-size: 32px;
    }
    .pwr-title-button{
        width: 234px;
        height: 74px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .pwr-title-button p{
        font-size: 22px;
    }
}


/* section two */


.pwr-body-backgroud-section-two{
    background-color:var(--pwr-color-bg-secondary);
    background-image: url(/html-models/images/section-two-backgroud.png);
    background-repeat: no-repeat;
    max-height: 460px;
}
.pwr-section-two-top h1:nth-child(1){
    font-size: 17px;
}
.pwr-section-two-top h1{
    font-size: 18px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-primary);
}
.pwr-section-two-middle{
    margin-top: 40px;
    align-self: center;
}
.pwr-section-two-middle img{
    width: 184px;
    height: 96px;
    margin-left: calc(calc(100% - 100px) / 4);
}
.pwr-section-two-bottom{
    width: 276px;
    min-height: 100%;
    margin-top: 40px;    
}
.pwr-section-two-bottom p{
    font-size: 12px;
    color: var(--pwr-color-font-primary);
    font-weight: 500px;
    text-align: justify;
}

@media (min-width: 576px) {
    .pwr-body-backgroud-section-two{
        background-size: 100vh;
        background-position: 1%;
        background-position-y: 1%;
    }
    #section-two .pwr-section-top{
    }
    .pwr-section-two-top-row{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .pwr-section-two-title{
    }
    .pwr-section-two-title h1:nth-child(1){
        font-size: 20px;
    }
    .pwr-section-two-title h1:nth-child(2){
        font-size: 20px;
    }
    .pwr-section-two-title h1:nth-child(3){
        font-size: 20px;
    }
    .pwr-section-two-middle img{
        width: 237px;
        height: 123px;
        margin-left: unset;
    }
    .pwr-section-two-bottom{
        width: 100%;
    }
    .pwr-section-two-bottom p{
        width: 100%;
        font-size: 16px;
    }

    @media (min-width: 1024px) {
        #section-two{
            padding: 40px 80px;
        }
        .pwr-body-backgroud-section-two{
            max-height: 768px;
        }
        .pwr-section-two-top-row{
            display: flex;
            flex-direction: row-reverse;
            align-self: center;
        }
        .pwr-section-two-middle img{
            width: calc(520px + 1vw);
            height: auto;
            margin: 0 0;
        }
        .pwr-section-two-title{
            width: 602px;
            height: 152px;
            margin: 0 0;
        }
        .pwr-section-two-title h1:nth-child(1){
            font-size: 40px;
        }
        .pwr-section-two-title h1:nth-child(2){
            font-size: 40px;
        }
        .pwr-section-two-title h1:nth-child(3){
            font-size: 40px;
        }
        .pwr-section-two-bottom p{
            font-size: 32px;
            width: calc(900px + 2vw);
            font-weight: 500;
        }    
    }
}

/* section three */

.pwr-body-backgroud-section-three{
    background-color:var(--pwr-color-bg-tertiary);
    background-image: url(/html-models/images/section-three-backgroud.png);
    background-position: 100%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    max-height: 480px;
    height: 120vh;
}

.pwr-section-three-title{
    width: 276px;
    height: 65px;
}
.pwr-section-three-title h1:nth-child(2){
    font-size: 10px;
    margin-top: 5px;
}

.pwr-section-three-title h1:nth-child(3){
    margin-top: 5px;
}
.pwr-section-three-title h1{
    font-size: 12px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-secondary);
    text-transform: uppercase;
}
.pwr-section-three-middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pwr-section-three-middle{
    margin-top: 40px;
}
.pwr-section-three-middle img{
    width: 135px;
    height: 75px;
}
.pwr-section-three-bottom{
    width: 274px;
    height: 148px;
    margin-top: 20px;
    margin-bottom: 21px;
}

.pwr-section-three-card{
    width: 126px;
    height: 71px;
}

.pwr-section-three-card-line{
    display: flex;
    flex-direction: row;
}

.pwr-section-three-card h1{
    text-align: justify;
    font-size: 12px;
    font-weight: 700;
    color: var(--pwr-color-font-secondary);
}
.pwr-section-three-card p{
    text-align: justify;
    font-size: 10px;
    font-weight: 500;
    color: var(--pwr-color-font-secondary);
    margin-top: 10px;
}

.pwr-section-three-card-left:nth-child(2){
    margin-top: 3px;
    
}

.pwr-section-three-card-right{
    margin-left: 24px;
}

.pwr-section-three-card-line:nth-child(2){
    margin-top: 10px;
}

@media (min-width: 576px) {
    #section-three{
        height: 90vh;
    }
    .pwr-body-backgroud-section-three{
        max-height: 380px;
    }
    .pwr-section-three-title{
        width: 517px;
    }
    .pwr-section-three-title h1{
        font-size: 16px;
    }
    .pwr-section-three-title h1:nth-child(2){
        font-size: 14px;
    }
    .pwr-section-three-title h1:nth-child(3){
        font-size: 16px;
    }
    .pwr-section-three-middle-content{
        flex-direction: row-reverse;
        margin-top: 50px;
        margin: 0 0;
    }
    .pwr-section-three-bottom{
        width: 292px;
        height: 173px;
    }
    .pwr-section-three-card-line {
        margin-bottom: 20px;
    }
    .pwr-section-three-card h1 {
        font-size: 14px;
    }
    .pwr-section-three-middle img{
        width: 226px;
        height: 127px;
        margin-left: 12px;
    }
}

@media (min-width: 1024px){
    .pwr-body-backgroud-section-three{
        max-height: 640px;
        
    }
    .pwr-section-top.pwr-section-three-top{
        margin-top: calc(28px + 2vh);
    }
    .pwr-section-three-title{
        width: calc(700px + 2vw);
    }
    .pwr-section-three-title h1:nth-child(1){
        font-size: 36px;
    }
    .pwr-section-three-title h1:nth-child(2){
        font-size: 32px;
    }
    .pwr-section-three-title h1:nth-child(3){
        font-size: 36px;
    }

    .pwr-section-three-middle-content{
        margin-top: calc(80px + 2vh);
    }
    
    .pwr-section-three-middle img{
        width: calc(500px + 2vw);
        height: calc(200px + 10vh);
        margin-left: 0;
    }

    .pwr-section-three-bottom{
        width: calc(600px + 2vw);
    }
    .pwr-section-three-card{
        width: 320px;
        height: 120px;
    }
    .pwr-section-three-card h1{
        font-size: 26px;
    }
    .pwr-section-three-card p{
        font-size: 22px;
    }
    @media (min-width: 1400px) {
        .pwr-body-backgroud-section-three{
            background-position: 1%;
            background-position-y: 40%;
            background-size: cover;
        }
    }
}

/* seciton-four */


.pwr-body-backgroud-section-four{
    background-color:var(--pwr-color-bg-secondary);
    display: flex;
    align-items: flex-end;
    height: 420px;
}

.pwr-section-four-title{
    width: 276px;
    height: 65px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pwr-section-four-title h1:nth-child(2){
    font-size: 10px;
    margin-top: 5px;
}
.pwr-section-four-title h1:nth-child(3){
    margin-top: 5px;
}
.pwr-section-four-title h1{
    font-size: 16px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-primary);
    text-transform: uppercase;
}
.pwr-section-four-title img{
    display: none;
}
.pwr-section-four-middle{
    width: 256px;
    height: 42px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.pwr-section-four-middle p{
    font-size: 12px;
    text-align: justify;
    font-weight: 500;
    color: var(--pwr-color-font-primary);
}
.pwr-section-four-bottom{
    margin-bottom: -4px;
    text-align: center;
}
.pwr-section-four-bottom img{
    margin-top: 19px;
    width: 120px;
    height: 132px;
}
.pwr-section-four-flex-item-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pwr-four-footer{
    max-width: calc(92vw + 7px);
    width: calc(99vw - 10px);
    height: 30px;
    background-color: rgba(217, 217, 217, 0.90);
    margin-left: -20px;
    margin-bottom: -20px;
}

@media (min-width: 576px) {
    #section-four{
        max-height: 340px;
        height: 84vh;
    }
    .pwr-section-four-bottom img{
        width: 167px;
        height: 184px;
        margin-top: 30px;
    }
    .pwr-section-four-title-h1 {
        margin-top: 50px;
    }
    .pwr-section-four-title img{
        display: unset;
        width: 145px;
        height: 117px;
        
    }
    .pwr-section-four-top{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .pwr-section-four-flex-item-1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 40px;
    }
    .pwr-section-four-middle p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .pwr-four-footer{
        max-width: calc(98vw + 6px);
    }
}

@media (min-width: 768px) {
    .pwr-four-footer{
        width: calc(99vw - 6px);
    }
}
@media (min-width: 990px) {
    .pwr-four-footer{
        width: calc(99vw - 4px);
    }
}

@media (min-width: 1024px) {
    #section-four{
        max-height: 580px;
        height: 84vh;
    }
    .pwr-section-four-title img{
        width: calc(100px + 10vw);
        height: auto;
    }
    .pwr-section-four-title h1{
        font-size: 30px;
    }
    .pwr-section-four-title h1:nth-child(2){
        font-size: 30px;
    }
    .pwr-section-four-title h1:nth-child(3){
        font-size: 30px;
    }
    .pwr-section-four-bottom img{
        margin-top: 20px;
        width: calc(240px + 2vw);
        height: auto;
    }
    .pwr-section-four-middle{
        width: calc(300px + 4vw);
        height: 100%;
        margin: 0 0;
    }
    .pwr-section-four-middle p{
        font-size: 22px;
    } 
    .pwr-section-four-top.pwr-section-top{
        margin: 0 0;
        width: 1200px;
    }
    .pwr-section-four-flex-item-1{
        max-width: 50vw;
        width: 50%;
    }
    .pwr-section-four-flex-item-2{
        max-width: 50vw;
        width: 50%;
    }

    .pwr-four-footer{
        height: calc(80px + 1vh);
        max-width: calc(98vw + 6px);
        width: 99vw;
    }
}

/* section five */

#section-five{
    max-height: 480px;
    height: 120vh;
}

.pwr-body-backgroud-section-five{
    background-color:var(--pwr-color-bg-primary);
    /* background-image: url(/html-models/images/section-five-backgroud.png);
    background-position: auto;
    background-position-y: auto;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px; */
}

.pwr-section-five-title h1:nth-child(1),h1:nth-child(3){
    font-size: 16px;
}
.pwr-section-five-title h1:nth-child(2){
    font-size: 14px;
    margin-top: 5px;
}
.pwr-section-five-title h1:nth-child(3){
    margin-top: 5px;
}
.pwr-section-five-title h1{
    font-size: 16px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-primary);
    text-transform: uppercase;
}

.pwr-section-five-middle img{
    margin-top: 19px;
    width: 120px;
    height: 132px;
}
.pwr-section-five-bottom{
    width: 256px;
    height: 42px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.pwr-section-five-bottom p{
    font-size: 12px;
    text-align: justify;
    font-weight: 500;
    color: var(--pwr-color-font-primary);
}
.pwr-section-five-bottom-list{
    margin-bottom: 12px;
}
.pwr-section-five-bottom-list-line{
    display: flex;
    flex-direction: row;
    color: var(--pwr-color-font-primary);
    margin-bottom: 6px;
}

.pwr-section-five-bottom-list-line span{
    color: #ffffff4d;
    margin-right: 12px;
}
.pwr-section-five-bottom-list-line h3,span{
    font-size: 12px;
    font-weight: 500;
}

@media (min-width: 576px) {
    #section-five{
        height: 90vh;
        max-height: 420px;
    }
    .pwr-section-five-top-container{
        padding-top: 40px;
    }
    .pwr-section-five-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .pwr-section-five-title h1{
        font-size: 18px;
    }
    .pwr-section-five-title h1:nth-child(2){
        font-size: 16px;
    }
    .pwr-section-five-middle img{
        width: 170px;
        height: 152px;
        margin-left: 82px;
    }
}
@media (min-width: 1024px) {
    #section-five{
        max-height: 680px;
    }
    .pwr-section-five-top-left-content {
        display: flex;
        flex-direction: column;
        gap: calc(30px + 4vh);
    }
    .pwr-section-five-title{
        width: 500px;
    }
    .pwr-section-five-title h1{
        font-size: 32px;
    }
    .pwr-section-five-title h1:nth-child(1){
        font-size: 32px;
    }
    .pwr-section-five-title h1:nth-child(2){
        font-size: 30px;
    }
    .pwr-section-five-bottom{
        width: 100%;
        
    }
    .pwr-section-five-bottom p{
        width: 500px;
        font-size: 18px;
    }
    .pwr-section-five-bottom-list-line span{
        margin-right: 18px;
    }
    .pwr-section-five-bottom-list-line h3,span{
        font-size: 18px;
    }
    .pwr-section-five-middle img{
        width: calc(300px + 8vw);
        height: auto;
        margin-left: calc(30px + 6vw);
    }
}

/* section six */
#section-six{
    max-height: 420px;
}

.pwr-body-backgroud-section-six{
    background: linear-gradient(0deg, var(--pwr-color-bg-five) 50%, var(--pwr-color-bg-tertiary)  50%);
    background-repeat: no-repeat;
    height: 100vh;
}

.pwr-section-six-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(10% + 2vh) 30px;
}

.pwr-section-six-container img{
    display: none;
}
.pwr-seciotn-six-card{
    width: 220px;
    height: 300px;
    background-color: var(--pwr-color-card-bg);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
}
.pwr-seciotn-six-card h2{
    font-size: 18px;
    font-weight: 700;
}

.pwr-seciotn-six-card h3{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.pwr-seciotn-six-card-last-item{
    width: 100%;
}
.pwr-seciotn-six-card-last-item p{
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin: 9px 0 0 0;
    color: #585858;
}

.pwr-seciotn-six-card-line-bottom{
    border-bottom: 1px solid var(--pwr-color-card-border);
    width: 100%;
}
.pwr-seciotn-six-card-line-bottom{
    text-align: center;
}

.pwr-seciotn-six-card-button{
    height: 20px;
    width: 110px;
    background-color: var(--pwr-color-btn-two);
    border-radius: 12px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 576px) {
    #section-six{
        height: 98vh;
    }
    .pwr-section-six-container{
        margin-top: 5%;
    }
    .pwr-section-six-container{
        gap: 34px;
    }
    .pwr-section-six-container img{
        display: unset;
    }
    .pwr-section-six-left img{
        width: 132px;
        height: 100px;
    }
    
    .pwr-section-six-right img{
        width: 120px;
        height: 160px;
    }
}

@media (min-width: 1024px) {
    #section-six{
        height: 105vh;
        max-height: 768px;
        padding-top: 1vh;
    }
    .pwr-section-six-container{
        margin-top: 2vh;
    }
    .pwr-section-six-container{
        gap: calc(40px + 2vw);
    }
    .pwr-section-six-left img{
        width: calc(255px + 4vw);
        height: auto;
    }
    .pwr-section-six-right img{
        width: calc(250px + 4vw);
        height: auto;
    }

    .pwr-seciotn-six-card{
        width: calc(370px + 3vw);
        height: calc(520px + 10vh);
        margin-bottom: 4vh;
        margin-top: 4vh;
    }
    .pwr-seciotn-six-card h2{
        font-size: calc(20px + 80%);
    }
    .pwr-seciotn-six-card h3{
        font-size: calc(18px + 18%);
    }

    .pwr-seciotn-six-card-button{
        width: 86%;
        height: 10%;
        font-size: calc(14px + 18%);
    }
    .pwr-seciotn-six-card-last-item p{
        font-size: calc(14px + 18%);
    }
}