@import url("styles.css");

/*
Generics
*/

.pwr-section-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

/* -------------- */

.pwr-header{
    width: 100%;
    height: 58px;
    display: flex;
    padding: 17px 59px;
    justify-content: center;
    align-items: center;
}
.pwr-social-midia{
    width: 50px;
    height: 24px;
}
.pwr-social-midia img{
    width: 20px;
    height: 20px;
}

.pwr-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/*    --------------------------------------  */

.pwr-body-backgroud{
    background-color:var(--pwr-color-bg-primary);
    background-image: url(/html-models/images/section-one-backgroud.png);
    background-repeat: no-repeat;
}

#intro-section{
    width: 320px;
    height: 100vh;
}
.pwr-title{
    margin-top: 40px;
    color: var(--pwr-color-font-primary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
}


.pwr-title h1{
    font-size: 16px;
    font-weight: 700;
}
.pwr-top-subtitle{
    display: flex;
    flex-direction: row;
    width: 280px;
    
}
.pwr-top-subtitle p{
    color: var(--pwr-color-font-primary);
    margin-top: 57px;
    text-align: justify;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
}
.pwr-top-subtitle img{
    margin-left: 49px;
    margin-bottom: 0px;
    margin-top: 32px;
    height: 110px;
    width: 60px;
}
.pwr-title-button{
    height: 25px;
    width: 105px;
    background-color: var(--pwr-color-btn-primary);
    color: var(--pwr-color-font-secondary);
    margin-top: 55px;
    margin-left: 87px;
    padding: 8px 21px 7px 20px;
    justify-content: center;
    border-radius: 40px;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}


/* section two */

.pwr-body-backgroud-section-two{
    background-color:var(--pwr-color-bg-secondary);
    background-image: url(/html-models/images/section-two-backgroud.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.pwr-section-two-top{}

.pwr-section-two-top h1:nth-child(1){
    font-size: 17px;
}
.pwr-section-two-top h1{
    font-size: 18px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-primary);
}
.pwr-section-two-middle{
    margin-top: 40px;
}
.pwr-section-two-middle img{
    width: 184px;
    height: 96px;
}
.pwr-section-two-bottom{
    width: 276px;
    height: 92px;
    margin-top: 40px;
}
.pwr-section-two-bottom p{
    font-size: 12px;
    color: var(--pwr-color-font-primary);
    font-weight: 500px;
    text-align: justify;
}

/* section three */

.pwr-body-backgroud-section-three{
    background-color:var(--pwr-color-bg-tertiary);
    background-image: url(/html-models/images/section-three-backgroud.png);
    background-position: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    height: 20vh;
}

.pwr-section-three-top{}

.pwr-section-three-title{
    width: 276px;
    height: 65px;
}
.pwr-section-three-title h1:nth-child(2){
    font-size: 10px;
    margin-top: 5px;
}

.pwr-section-three-title h1:nth-child(3){
    margin-top: 5px;
}
.pwr-section-three-title h1{
    font-size: 12px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-secondary);
    text-transform: uppercase;
}
.pwr-section-three-middle{
    margin-top: 40px;
}
.pwr-section-three-middle img{
    width: 135px;
    height: 75px;
}
.pwr-section-three-bottom{
    width: 274px;
    height: 148px;
    margin-top: 20px;
    margin-bottom: 21px;
}

.pwr-section-three-card{
    width: 126px;
    height: 71px;
}

.pwr-section-three-card-line{
    display: flex;
    flex-direction: row;
}

.pwr-section-three-card h1{
    text-align: justify;
    font-size: 12px;
    font-weight: 700;
    color: var(--pwr-color-font-secondary);
}
.pwr-section-three-card p{
    text-align: justify;
    font-size: 10px;
    font-weight: 500;
    color: var(--pwr-color-font-secondary);
    margin-top: 10px;
}

.pwr-section-three-card-left:nth-child(2){
    margin-top: 3px;
    
}

.pwr-section-three-card-right{
    margin-left: 24px;
}

.pwr-section-three-card-line:nth-child(2){
    margin-top: 10px;
}

/* seciton-four */

.pwr-body-backgroud-section-four{
    background-color:var(--pwr-color-bg-secondary);
}
.pwr-section-four-title{
    width: 276px;
    height: 65px;
}
.pwr-section-four-title h1:nth-child(2){
    font-size: 10px;
    margin-top: 5px;
}
.pwr-section-four-title h1:nth-child(3){
    margin-top: 5px;
}
.pwr-section-four-title h1{
    font-size: 16px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-primary);
    text-transform: uppercase;
}
.pwr-section-four-middle{
    width: 256px;
    height: 42px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.pwr-section-four-middle p{
    font-size: 12px;
    text-align: justify;
    font-weight: 500;
    color: var(--pwr-color-font-primary);
}
.pwr-section-four-bottom{
    margin-bottom: -4px;
}
.pwr-section-four-bottom img{
    margin-top: 19px;
    width: 120px;
    height: 132px;
}

.pwr-four-footer{
    width: 320px;
    height: 54px;
    background-color: rgba(217, 217, 217, 0.90);
}

/* section five */

.pwr-body-backgroud-section-five{
    background-color:var(--pwr-color-bg-primary);
    /* background-image: url(/html-models/images/section-five-backgroud.png);
    background-position: auto;
    background-position-y: auto;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px; */
}

.pwr-section-five-title h1:nth-child(1),h1:nth-child(3){
    font-size: 16px;
}
.pwr-section-five-title h1:nth-child(2){
    font-size: 14px;
    margin-top: 5px;
}
.pwr-section-five-title h1:nth-child(3){
    margin-top: 5px;
}
.pwr-section-five-title h1{
    font-size: 16px;
    justify-content: center;
    text-align: center;
    color: var(--pwr-color-font-primary);
    text-transform: uppercase;
}

.pwr-section-five-middle img{
    margin-top: 19px;
    width: 120px;
    height: 132px;
}
.pwr-section-five-bottom{
    width: 256px;
    height: 42px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.pwr-section-five-bottom p{
    font-size: 12px;
    text-align: justify;
    font-weight: 500;
    color: var(--pwr-color-font-primary);
}
.pwr-section-five-bottom-list{
    margin-bottom: 12px;
}
.pwr-section-five-bottom-list-line{
    display: flex;
    flex-direction: row;
    color: var(--pwr-color-font-primary);
    margin-bottom: 6px;
}

.pwr-section-five-bottom-list-line span{
    color: #ffffff4d;
    margin-right: 12px;
}
.pwr-section-five-bottom-list-line h3,span{
    font-size: 12px;
    font-weight: 500;
}

/* section six */

.pwr-body-backgroud-section-six{
    background: linear-gradient(0deg, var(--pwr-color-bg-five) 50%, var(--pwr-color-bg-tertiary)  50%);
    background-repeat: no-repeat;
    height: 100vh;
}

.pwr-section-six-container{
    display: flex;
    margin: 20% 30px;
}

.pwr-section-six-container img{
    display: none;
}

.pwr-section-six-left{
}

.pwr-seciotn-six-card{
    width: 220px;
    height: 300px;
    background-color: var(--pwr-color-card-bg);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
}
.pwr-seciotn-six-card h2{
    font-size: 18px;
    font-weight: 700;
}

.pwr-seciotn-six-card h3{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.pwr-seciotn-six-card-last-item{
    width: 100%;
}
.pwr-seciotn-six-card-last-item p{
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin: 9px 0 0 0;
    color: #585858;
}

.pwr-seciotn-six-card-line-bottom{
    border-bottom: 1px solid var(--pwr-color-card-border);
    width: 100%;
}
.pwr-seciotn-six-card-line-bottom{
    text-align: center;
}

.pwr-seciotn-six-card-button{
    height: 20px;
    width: 110px;
    background-color: var(--pwr-color-btn-two);
    border-radius: 12px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pwr-section-six-right{}